* {
  margin: 0;
  padding: 0;
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

#logo-footer {
  background-image: url('images/logo_observ.jpg');
  width: 160px;
  height: 55px;
} 

#menu-footer {
  display: flex;
  list-style: none;
  color: rgb(2, 62, 138);
  font-size: 20px;
}

#menu-footer li {
  display: flex;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(2, 62, 138);
  border-radius: 15px;
  padding: 10px;
}

#image-security {
  background-image: url('images/security.jpg');
  width: 100%;
  height: 670px;
}
